<onfig>

  <!-- BEGIN Connections Definitions -->
	<Connections>

	    <SQLServer>
	        <dbname>mid</dbname>
	        <database>dbi:Sybase:host=0.0.0.0;port=123:database=FrEgen;sendStringParametersAsUnicode=false</database>
	        <login>XXXXX</login>
	        <password>xxxxx</password>
	        <autoconnect>1</autoconnect>
	    </SQLServer>
	  
	  <Amadeus>
	    <name>amadeus</name>
	    <signin>0001AA/SU</signin>
	    <modifsig>BTCAIR</modifsig>
	    <tcp>0.0.0.0</tcp>
	    <port>123</port>
	    <corpoid>XXXXX</corpoid>
	    <login>xxxxx</login>
	    <password>xxxxx</password>
      <officeid>PAREC38DD</officeid>
      <language>fr</language>
      <autoconnect>0</autoconnect>
	  </Amadeus>

	</Connections>
  <!-- END Connections Definitions -->

  <!-- BEGIN Tasks Definitions -->
	<Tasks>

	  <Task>
	    <name>swiffer</name>
	    <market>FR</market>
	    <source>source</source>
	    <amadeus>amadeus</amadeus>
	  	<logFile>swiffer</logFile>
	    <modules>
	      <module>
	        <name>SWI::FakeModule</name>
	        <rank>1</rank>
	      </module>
	    </modules>
	  </Task>

	</Tasks>
  <!-- END Tasks Definitions -->
	
  <!-- BEGIN Sources Definitions -->
	<Sources>

	  <Source>
	    <name>source</name>
	    <type>module</type>
	    <modules>
	      <module>
	      	<name>SWI::FakeModule</name>
	      </module>
	    </modules>
	  </Source>

	</Sources>
  <!-- END Sources Definitions -->

</Config>
