<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<ECTEAddBookingAnnotationRQ>
  <ContextRQ>
    <Language>[% context.language %]</Language>
    <Application>[% context.application %]</Application>
    <UserAgent>[% context.userAgent %]</UserAgent>
  </ContextRQ>
  <Parameters>
    <Annotation Type="[% type %]" Date="[% date %]">
      <Content>[% content %]</Content>
    </Annotation>
  </Parameters>
</ECTEAddBookingAnnotationRQ>